<h1>新しくアプリを登録</h1>

<form method="post" action="create">
  <div>
    APP ID: <input type="text" name="app_id" value="">
  </div>
  <div>
	APP NAME: <input type="text" name="app_name" value="">
  </div>
  <div>
    <input type="submit" value="送信">
  </div>
</form>